html, body {
    height: 100%;
    margin: 0;
    background-color: bisque;
}
#logo {
    position: absolute;
    top: 5px;
    left: 20px;
    height: 100px;
    display: grid;
    align-items: center;
}
.awalan {
    color: white;
    position: absolute;
    height: 110px;
    width: 100%;
    background-color: black;
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'courier new';
    letter-spacing: 10px;

}
.tingkat2 {
    display: grid;
    justify-content: center;
    height: 100vh;
    /* height: 100%;
    min-width: 350px;
    min-height: 479.913px; */
    display: grid;
    justify-content: center;
    align-items: center;
}
.konten1 {
    display: block !important;
    text-align: center;
    height: fit-content;
    margin-bottom: 5px;
    font-size: 24px;
    font-family: 'Courier New';
}
hr {
    margin-bottom: 25px;
}
.gambar {
    text-align: center;
    margin-bottom: 25px;
}
#facebook {
    height: 50px;
    width: fit-content;
    margin-right: 10px;
}
#instagram {
    height: 50px;
    width: fit-content;
    margin-right: 10px;
}
#linkedln {
    height: 50px;
    width: fit-content;
}
.hiasan {
    margin-bottom: 12px;
}
.konten3 {
    text-align: center;
    color: #ababab;
    margin: 0;
}
#email {
    display: block;
    margin-bottom: 25px;
    padding: 11.9px 16.1px;
    height: 22.6px;
    width: 316.2px;
    border-radius: 5px;
    border: 1px solid #dadce0;
}
#password {
    display: block;
    margin-bottom: 25px;
    padding: 11.9px 16.1px;
    height: 22.6px;
    width: 316.2px;
    border-radius: 5px;
    border: 1px solid #dadce0;

}
#button {
    display: block;
    margin-bottom: 25px;
    padding: 11.9px 16.1px;
    height: 22.6px;
    width: 316.2px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    background-color: black;
    color: white;
    user-select: none;
    border: 1px solid black;
    font-family: verdana;
    font-weight: bold;
}
#forgot {
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-family: 'Courier New';
    font-weight: bold;
}
